h1 {
  text-align: center;
  font-size: 50px;
}

img {
  max-width: 500px;
  max-height: 300px;
  width: 500px;
  height: 400px;
}

h2 {
  font-size: 20px;
}

ul {
  line-height: 20px;
}

body {

}
.darkTheme {
  background-color: #353535;
  color: #B9CDDA;
}
/*
a {
  color: #8A5491; */
}

.lightTheme {
  background-color: #F5E6E8;
  color: #495038;
}

/* .light-theme {
  color: #720087;
} */
